@import 'tailwindcss';

@theme {
  --color-brand: #ff2442;
  --color-brand-soft: #fff0f3;
  --color-brand-dark: #e11d48;
  --font-sans:
    ui-sans-serif, system-ui, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}
